<!-- ***
 * Creado por Alonso el 19/10/2015.
 *** -->
 
 <template name="header">
     <header >

         <h3 id="logo">
         <a href="//www.hogarsanisidro.org/"><img src="//www.hogarsanisidro.org/styles/img/logo_hi.png" alt="Hogar del Niño Desprotegido San Isidro A.C."/></a>
         </h3>
         <a href="javascript:;" id="menubutton" onClick="javscript:showmenu();">menú <span>=</span></a>
         <nav id="nav" class="original">
             <div id="navcontainer">
                 <ul id="menu">
                     <li id='id7' class=''><a href='//www.hogarsanisidro.org/nuestra-casa'>Nuestra casa.</a></li>
                     <li id='id8' class=''><a href='//www.hogarsanisidro.org/proyectos'>Proyectos.</a></li>
                     <li id='id9' class=''><a href='//www.hogarsanisidro.org/testimonios'>Testimonios.</a></li>
                     <li id='id11' class='active'><a href='//www.hogarsanisidro.org/como-ayudar'>Cómo ayudar.</a></li>
                 </ul>
                 <ul id="submenu">
                     <li id='id44' class=''><a href='//www.hogarsanisidro.org/siguenos'>Síguenos.</a></li>
                     <li id='id10' class=''><a href='//www.hogarsanisidro.org/noticias'>Noticias.</a></li>
                     <li id='id12' class=''><a href='//www.hogarsanisidro.org/preguntas-frecuentes'>Preguntas frecuentes.</a></li>
                     <li id='id13' class=''><a href='//www.hogarsanisidro.org/contacto'>Contacto.</a></li>
                 </ul>
             </div>
         </nav>


         <!--<div class="navbar-fixed">
             <nav>
                 <div class="nav-wrapper">-->
                     {{#if showMenu}}
                         <a href="#" data-activates="nav-mobile" class="button-collapse right"><i class="mdi-navigation-menu"></i></a>
                         <ul class="right hide-on-med-and-down">
                             {{#each menu}}
                                 <li><a href='{{href}}'><i class="{{icon}} teal-text text-lighten-2 left"></i> {{value}}</a></li>
                             {{/each}}
                         </ul>
                         <ul id="nav-mobile" class="side-nav">
                             {{#each menu}}
                                 <li><a href='{{href}}'><i class="{{icon}} grey-text text-lighten-2 left"></i> {{value}}</a></li>
                             {{/each}}
                         </ul>
                     {{/if}}
                <!-- </div>
             </nav>
         </div>-->
     </header>
     <script>
         $( document ).ready(function(){
             $(".button-collapse").sideNav();
         })
     </script>
 </template>