<head>
    <script>
        (function(d) {
            var config = {
                        kitId: 'qda3wql',
                        scriptTimeout: 3000
                    },
                    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Cómo ayudar: Donar - Hogar del Niño Desprotegido San Isidro A.C.</title>
    <meta name="description" content="Donaciones Hogar San Isidro"/>
    <meta name="keywords" content="hogar, san, isidro, donaciones, autlan, donar, ong, organización, orfanato, casa, orfanatorio">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="//www.hogarsanisidro.org/styles/main.css" />
    <script src="//www.hogarsanisidro.org/js/html5shiv.js"></script>
    <script src="//www.hogarsanisidro.org//js/script.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>