<!-- ***
 * Creado por Alonso el 21/12/2015.
 *** -->
 
 <template name="confirmCancelSubscription">
     <div class="modal-content">
         <h1><strong>¿Confirma que desea cancelar esta subscripción?</strong></h1>
         <div class="row" id="progressBarDiv" style="display:none;">
             <div class="col s12">
                 <div class="progress">
                     <div class="indeterminate"></div>
                 </div>
             </div>
         </div>
     </div>
     <div class="modal-footer">
         <button id="aceptarCancelacion" class="btn waves-effect waves-light right green modal-action modal-close" style="margin-left:1em;" type="button">ACEPTAR</button>
         <button type="button" id="cancelarCancelacion" class="btn modal-action modal-close white-text waves-effect waves-light right grey">CANCELAR</button>
     </div>
 </template>