<!-- ***
 * Creado por Alonso el 02/11/2015.
 *** -->
 
 <template name="myDonations">
     <article>
         <h2><i class="mdi-editor-attach-money "></i> Mis Donaciones</h2>
        <h2><i class="mdi-action-account-circle "></i> {{user.name}}</h2>
        <button class="btn red" id="logout">Salir</button>

         <br/>
         <h3>Donaciones</h3>

         <table>
             <thead>
             <tr>
                 <th>Proyecto</th>
                 <th>Fecha</th>
                 <th>Cantidad</th>
                 <th>Método de Pago</th>
             </tr>
             </thead>
             <tbody>
             {{#each donations}}
                 <tr>
                     <td>{{projectName}}</td>
                     <td>{{date}}</td>
                     <td>${{amount}}</td>
                     <td>{{paymentMethodString}}</td>
                 </tr>
             {{else}}
                <tr><td colspan="4">No hay donaciones.</td></tr>
             {{/each}}

             </tbody>
         </table>

         <h3>Aportaciones Recurrentes</h3>

         <table>
             <thead>
             <tr>
                 <th>Proyecto</th>
                 <th>Fecha</th>
                 <th>Cantidad</th>
                 <th>Método de Pago</th>
                 <th>&nbsp;</th>
             </tr>
             </thead>
             <tbody>
             {{#each subscriptions}}
                 {{>recurrentDonationElement}}
             {{else}}
             <tr><td colspan="5">No hay aportaciones recurrentes.</td></tr>
             {{/each}}

             </tbody>
         </table>
     </article>
 </template>